<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Jwizzed</title>
  <link rel="stylesheet" href="static/assets/css/page1.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/images/page1/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm JJ.</h1>
      <h2>a lonely boy.</h2>
    </div>
    <img class="bottom-cloud" src="static/images/page1/cloud.png" alt="cloud">
    <img class="mountain" src="static/images/page1/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/images/page1/JJ.png" alt="angela-profile-img">
      <h2>Hello.</h2>
      <p class="intro">เราเป็น Introvert ตัวเล็กๆ ที่เพื่อนก็ไม่ค่อยจะมีเลยมีเวลาอยู่กับตัวเองเยอะมากก จากที่เห็นนี่แหละ ถ้าไม่ว่างจริงคงไม่มานั่งทำอะไรแบบนี้.. ยังไงก็ยินดีที่ได้รู้จักนะครับ ✨</p>
    </div>
    <hr>
    <div class="skills">
      <h2>Personality.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Always improve me</h3>
        <p>เราก็แค่ว่างแล้วก็หาทำไปเรื่อยแค่นั้นเอง ทำไปทำมาก็ติดนิสัยว่าทำอะไรต้องจริงจังกับมันตลอด อยากชนะไปทุกเรื่องแต่ดันแข่งกับตัวเองเลยไม่รู้จะแข่งเสร็จเมื่อไหร่</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/images/page1/chillies.png" alt="chillies-img">

        <h3>Relationship is hard</h3>
        <p>เพื่อนๆ น่าจะชินแล้วที่เราทำเหมือนจะหยอดคนนั้นทีคนนี้ที อาจจะคิดว่ามันเป็นแค่ คาแรคเตอร์ แต่เราเอาจริงนะ หยอกก เราว่าความรักมันยากอ่ะ ถ้าไม่เจอคนที่ชอบมากๆ ก็คงอยู่คนเดียวเหมือนเดิมนี่แหละ</p>

      </div>

      <ul class="actions stacked">
        <li><a href="{{ url_for('home') }}" class="button big wide smooth-scroll-middle">กลับกันเถอะ</a></li>
      </ul>

    </div>
    <hr>
  </div>


  <div class="bottom-container">
    <p>-Almost every things that seem like using the right brain that's not my work at all-</p>
    <p class="copyright">© 2019 Angela Yu @ The App Brewery.</p>

  </div>
</body>

</html>
